.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: #ebebeb;
    width: 400px;
    height: 400px;
    align-self: center;
}